/**
 * 侧滑展开窗口
 */

#menu-bar {
    background-color: #ffffff;
    color: #498dff;
    z-index: 1002;
    display: none
}

.left-shadow-overlay {
    box-shadow: 10px 0 15px 10px #1213f4;
}

#menu-bar .handle {
    background-color: #498dff;
    left: -40px;
    padding: 10px;
    position: absolute;
    top: 400px;
    width: 40px;
    cursor: pointer;
}

.handle span {
    display: block;
    width: 24px;
    height: 30px;
    background: url("../../fonts/images/arr.png") no-repeat
}

.handle span.arr_l {
    background-position: 2px 0px
}

.handle span.arr_r {
    background-position: 2px -34px
}