<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>山西旅游地图</title>

    <link rel="stylesheet" type="text/css" href="../css/ol/ol.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../main/css/slidereveal.css">
    <link rel="stylesheet" type="text/css" href="../main/css/map.css">
    <link rel="stylesheet" type="text/css" href="../layui/css/layui.css">
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/ol/ol.js"></script>
    <script type="text/javascript" src="../js/jquery.slidereveal.min.js"></script>
    <script type="text/javascript" src="../layui/layui.js"></script>
    <script src="../js/echarts/echarts.min.js"></script>
    <script src="../js/echarts/ecStat.min.js"></script>
    <script type="text/javascript" src="../main/js/charts.js"></script>
</head>
<body>

<!--弹窗-->
<div id="popup" class="ol-popup">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
</div>
<!--地图-->
<div id="map" style="width: 100%;height: 935px"></div>
<!--侧滑展开窗口-->
<div id="menu-bar">
    <div class="handle">
        <span class="arr_l"></span>
    </div>

    <div class="row" style="position:relative;left:15px;">
        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#list" data-toggle="tab">
                    景点列表
                </a>
            </li>
            <li>
                <a href="#data" data-toggle="tab">
                    旅游数据
                </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="list">
                <!-- 搜索框  -->
                <div class="col-md-12" style="width: 400px;height: 62px;background-color: #498dff">
                    <div class="input-group input-group-lg" style="top: 8px">
                        <input id="search-input"type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                    <button id="search" class="btn btn-default" type="button">搜索</button>
                </span>
                    </div>
                </div>
                <div class="col-md-12" style=" overflow:scroll; width:400px; height:873px;">
                    <ul id="point-list" class="media-list" style="width:380px;position:relative;left:-12px;">

                    </ul>
                </div>
            </div>
            <div class="tab-pane fade" id="data">
                <div class="list-group">
                    <a href="javascript:getChart('bar','山西省各市景点数量统计图（按等级统计）')" class="list-group-item ">
                        <h3 class="list-group-item-heading">山西省各市景点数量统计图</h3>
                        <p class="list-group-item-text">全省旅游景点最多的三个城市</p>
                        <p class="list-group-item-text">NO.1 &nbsp 太原</p>
                        <p class="list-group-item-text">NO.2 &nbsp 运城</p>
                        <p class="list-group-item-text">NO.3 &nbsp 晋中</p>
                    </a>
                    <a href="javascript:getChart('wantedMap','山西各市旅游人数密度图')" class="list-group-item ">
                        <h3 class="list-group-item-heading">山西省各市旅游人数密度图</h3>
                        <p class="list-group-item-text">全省旅游热门城市</p>
                        <p class="list-group-item-text">NO.1 &nbsp 大同</p>
                        <p class="list-group-item-text">NO.2 &nbsp 晋中</p>
                        <p class="list-group-item-text">NO.3 &nbsp 太原</p>
                        <p class="list-group-item-text">全省旅游冷门城市</p>
                        <p class="list-group-item-text">NO.1 &nbsp 朔州</p>
                        <p class="list-group-item-text">NO.2 &nbsp 吕梁</p>
                        <p class="list-group-item-text">NO.3 &nbsp 阳泉</p>
                    </a>
                    <a href="javascript:getChart('wantMap','山西省各市旅游潜力密度图')" class="list-group-item ">
                        <h3 class="list-group-item-heading">山西省各市旅游潜力密度图</h3>
                        <p class="list-group-item-text">全省旅游业潜力最高的三个城市</p>
                        <p class="list-group-item-text">NO.1 &nbsp 大同</p>
                        <p class="list-group-item-text">NO.2 &nbsp 太原</p>
                        <p class="list-group-item-text">NO.3 &nbsp 晋中</p>
                    </a>
                    <a href="javascript:getChart('scatter','旅游人数与想去人数回归分析图')" class="list-group-item ">
                        <h3 class="list-group-item-heading">旅游人数与想去人数回归分析图</h3>
                        <p class="list-group-item-text">旅游人数与想去人数呈高度线性相关</p>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade " id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

</div>
</body>
<script type="text/javascript" src="../main/js/map.js"></script>
<script type="text/javascript" src="../main/js/slidereveal.js"></script>
<script type="text/javascript" src="../main/js/popup.js"></script>



</html>
